<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parasol.core.dao.bid.Bid_infoMapper" >
  <resultMap id="BaseResultMap" type="com.parasol.core.bid.Bid_info" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="com_userId" property="comUserid" jdbcType="INTEGER" />
    <result column="bid_company" property="bidCompany" jdbcType="VARCHAR" />
    <result column="bid_user" property="bidUser" jdbcType="VARCHAR" />
    <result column="bid_phone" property="bidPhone" jdbcType="VARCHAR" />
    <result column="creatTime" property="creattime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="bid_mail" property="bidMail" jdbcType="VARCHAR" />
    <result column="referrer" property="referrer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, com_userId, bid_company, bid_user, bid_phone, creatTime, updateTime, bid_mail, 
      referrer
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.parasol.core.bid.Bid_infoQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bid_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    id,com_userId,bid_company,bid_user,bid_phone,creatTime,updateTime,bid_mail,referrer
    from bid_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bid_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.parasol.core.bid.Bid_infoQuery" >
    delete from bid_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.parasol.core.bid.Bid_info" >
    insert into bid_info (id, com_userId, bid_company, 
      bid_user, bid_phone, creatTime, 
      updateTime, bid_mail, referrer
      )
    values (#{id,jdbcType=INTEGER}, #{comUserid,jdbcType=INTEGER}, #{bidCompany,jdbcType=VARCHAR}, 
      #{bidUser,jdbcType=VARCHAR}, #{bidPhone,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{bidMail,jdbcType=VARCHAR}, #{referrer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.parasol.core.bid.Bid_info" >
    insert into bid_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="comUserid != null" >
        com_userId,
      </if>
      <if test="bidCompany != null" >
        bid_company,
      </if>
      <if test="bidUser != null" >
        bid_user,
      </if>
      <if test="bidPhone != null" >
        bid_phone,
      </if>
      <if test="creattime != null" >
        creatTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="bidMail != null" >
        bid_mail,
      </if>
      <if test="referrer != null" >
        referrer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="comUserid != null" >
        #{comUserid,jdbcType=INTEGER},
      </if>
      <if test="bidCompany != null" >
        #{bidCompany,jdbcType=VARCHAR},
      </if>
      <if test="bidUser != null" >
        #{bidUser,jdbcType=VARCHAR},
      </if>
      <if test="bidPhone != null" >
        #{bidPhone,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidMail != null" >
        #{bidMail,jdbcType=VARCHAR},
      </if>
      <if test="referrer != null" >
        #{referrer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.parasol.core.bid.Bid_infoQuery" resultType="java.lang.Integer" >
    select count(*) from bid_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bid_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.comUserid != null" >
        com_userId = #{record.comUserid,jdbcType=INTEGER},
      </if>
      <if test="record.bidCompany != null" >
        bid_company = #{record.bidCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.bidUser != null" >
        bid_user = #{record.bidUser,jdbcType=VARCHAR},
      </if>
      <if test="record.bidPhone != null" >
        bid_phone = #{record.bidPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.creattime != null" >
        creatTime = #{record.creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bidMail != null" >
        bid_mail = #{record.bidMail,jdbcType=VARCHAR},
      </if>
      <if test="record.referrer != null" >
        referrer = #{record.referrer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bid_info
    set id = #{record.id,jdbcType=INTEGER},
      com_userId = #{record.comUserid,jdbcType=INTEGER},
      bid_company = #{record.bidCompany,jdbcType=VARCHAR},
      bid_user = #{record.bidUser,jdbcType=VARCHAR},
      bid_phone = #{record.bidPhone,jdbcType=VARCHAR},
      creatTime = #{record.creattime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      bid_mail = #{record.bidMail,jdbcType=VARCHAR},
      referrer = #{record.referrer,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.parasol.core.bid.Bid_info" >
    update bid_info
    <set >
      <if test="comUserid != null" >
        com_userId = #{comUserid,jdbcType=INTEGER},
      </if>
      <if test="bidCompany != null" >
        bid_company = #{bidCompany,jdbcType=VARCHAR},
      </if>
      <if test="bidUser != null" >
        bid_user = #{bidUser,jdbcType=VARCHAR},
      </if>
      <if test="bidPhone != null" >
        bid_phone = #{bidPhone,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        creatTime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidMail != null" >
        bid_mail = #{bidMail,jdbcType=VARCHAR},
      </if>
      <if test="referrer != null" >
        referrer = #{referrer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.parasol.core.bid.Bid_info" >
    update bid_info
    set com_userId = #{comUserid,jdbcType=INTEGER},
      bid_company = #{bidCompany,jdbcType=VARCHAR},
      bid_user = #{bidUser,jdbcType=VARCHAR},
      bid_phone = #{bidPhone,jdbcType=VARCHAR},
      creatTime = #{creattime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      bid_mail = #{bidMail,jdbcType=VARCHAR},
      referrer = #{referrer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>




  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    id,com_userId,bid_company,bid_user,bid_phone,creatTime,updateTime,bid_mail,referrer
    from bid_info
    where com_userId = #{comUserid,jdbcType=INTEGER}
  </select>



  <insert id="insertResultId" keyProperty="userId" useGeneratedKeys="true" parameterType="com.parasol.core.bid.Bid_info" >
    insert into bid_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="comUserid != null" >
        com_userId,
      </if>
      <if test="bidCompany != null" >
        bid_company,
      </if>
      <if test="bidUser != null" >
        bid_user,
      </if>
      <if test="bidPhone != null" >
        bid_phone,
      </if>
      <if test="creattime != null" >
        creatTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="bidMail != null" >
        bid_mail,
      </if>
      <if test="referrer != null" >
        referrer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="comUserid != null" >
        #{comUserid,jdbcType=INTEGER},
      </if>
      <if test="bidCompany != null" >
        #{bidCompany,jdbcType=VARCHAR},
      </if>
      <if test="bidUser != null" >
        #{bidUser,jdbcType=VARCHAR},
      </if>
      <if test="bidPhone != null" >
        #{bidPhone,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidMail != null" >
        #{bidMail,jdbcType=VARCHAR},
      </if>
      <if test="referrer != null" >
        #{referrer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>