<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parasol.core.dao.refund.BidRefundOrderMapper" >
  <resultMap id="BaseResultMap" type="com.parasol.core.refund.BidRefundOrder" >
    <id column="refund_order_id" property="refundOrderId" jdbcType="VARCHAR" />
    <result column="bid_order_id" property="bidOrderId" jdbcType="VARCHAR" />
    <result column="refund_amount" property="refundAmount" jdbcType="DOUBLE" />
    <result column="refund_target_user_id" property="refundTargetUserId" jdbcType="INTEGER" />
    <result column="refund_user_id" property="refundUserId" jdbcType="VARCHAR" />
    <result column="refund_status" property="refundStatus" jdbcType="INTEGER" />
    <result column="refund_time" property="refundTime" jdbcType="TIMESTAMP" />
    <result column="sys_operate_time" property="sysOperateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="findById" resultMap="BaseResultMap">
    select refund_order_id, bid_order_id, refund_amount, refund_target_user_id, refund_user_id, refund_status, refund_time, sys_operate_time from bid_refund_order where refund_order_id = #{refundOrderId}
  </select>
    <insert id="createRefundOrder" parameterType="com.parasol.core.refund.BidRefundOrder" >
        insert into bid_refund_order (refund_order_id,bid_order_id,refund_amount,refund_target_user_id,refund_user_id,refund_status,refund_time,sys_operate_time) values (#{refundOrderId},#{bidOrderId}, #{refundAmount},#{refundTargetUserId},#{refundUserId},#{refundStatus},#{refundTime},#{sysOperateTime})
    </insert>
    <update id="updateRefundOrderStatus">
    	update bid_refund_order set refund_status = #{refundStatus} where refund_order_id=#{refundOrderId}
    </update>
</mapper>