

@charset "utf-8";
a:link,a:visited{color:#444;text-decoration:none;}
a:hover{color:#ff0000;}

img,input{
    outline: none;border: none;vertical-align: middle;
}

.clear{clear:both; height: 0; line-height: 0; font-size: 0}
.header{
    width: 69.4%;
    height: 758px;
    margin: 0 auto;
}
.banx{
   /* width: 95.83%;*/
    width: 1150px;
    height: 100%;
    margin: 50px auto;
}
.banx>a{
    float: right;
    margin-bottom: 10px;
}

.con{
    width: 100%;
    height:900px;
    border: 1px solid #999999;
    margin-bottom: 200px;

}
.con .con-1{
    height: 78px;
    margin-left: 8%;
}
.logo{
    display: block;
    float: left;
    width:208px;
    height: 62px;
    background: url("../img/xuqiufabu/xuqiulogo.png") no-repeat;
    margin-top: 10px;
    margin-left: 20px;
}

.con .con-1>p {
    width: 158px;
    height: 18px;
    margin-left: 20px;
    background: url(../img/xuqiufabu/zaoyang.png) no-repeat;
}
.con p{
    float: left;
    margin-top: 32px;
}
.con-2{
    width: 80%;
    border-top: 1px solid #999999;
    height: 39px;
     margin-left: 92px;
   /* margin: 0 auto;*/
}

.con-2 div{
    height: 28px;
    line-height: 28px;
    float: left;
    width: 230px;
    text-align: center;
    margin-top: 12px;
}
.con-2 div:nth-child(1){
    background: #9ecafb;
    color: #ffffff;
}

.con-2 div:nth-child(2){
    background: #9ecafb;
    color: #ffffff;
}

.con-2 div:nth-child(3){
    background: #459dff;
    color: #ffffff;
}

/*                               */
.con-3{
    height: 430px;
    margin-bottom: 53px;
}


.con-3 .l{
    width: 874px;
    float: left;
    height: 430px;

}

.con-3 .r{
    float: left;
    width: 216px;
    height: 430px;
    padding-left: 20px;
    padding-right: 36px;
    border-left: 1px solid #459dff;
}

.con-3 .l p{
    width: 600px;
    margin-left: 92px;
}

.con-3 .l p:nth-child(1){
    height: 57px;
    line-height: 57px;
    font-size: 50px;
    margin-top: 60px;
    letter-spacing: 16px;
    color: #459dff;
}

.con-3 .l p:nth-child(1) em{
    display: inline-block;
    font-style: normal;
    width: 57px;
    height: 57px;
    border-radius: 28.5px;
    margin-right: 20px;

}
.con-3 .l p:nth-child(1) em img{
    vertical-align: bottom;
}
.con-3 .l p:nth-child(2){
    margin-top: 54px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
}
.con-3 .l p:nth-child(3){
    margin-top: 36px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
}

.con-3 .l p:nth-child(3)>a{
    color: #459dff;
}

/*    con-3  r                                                                   */
.con-3 .r p{
    height: 14px;
    line-height: 14px;
    font-size: 14px;margin-bottom: 20px;
    margin-top: 0;
    letter-spacing: 1px;
}

.con-3 .r span{
    height: 204px;
    width: 216px;background: slategrey;
    display: block;float: left;
    margin-top: 6px;
}


.con-3 .r span img{
    height: 100%;
    width: 100%;
}
/*            con-4                  */


.con-4{
    width: 1102px;
    height: 240px;
    background: #f6f6f6;
    margin: 0 auto;
}


.con-4 span{
    height: 216px;
    float: left;
    width: 204px;
    background: darkslategrey;margin-top: 12px;
    margin-left: 87px;
}

.con-4 span:first-child{
    margin-left: 12px;
}



















