.clear{clear:both; height: 0; line-height: 0; font-size: 0}
a:link,a:visited{color:#444;text-decoration:none;}
a:hover{color:#ff0000;}

img,input{
    outline: none;border: none;vertical-align: middle;
}


.banx{
    width: 1260px;
    margin: 0 auto;
}
.zhuN{
    border: 1px solid #cacaca;
}

.banx-b{
    width: 1150px;
    margin: 0 auto;
}

.banx-b>p{
    margin-bottom: 6px;
    margin-top: 18px;
    font-size: 14px;
    line-height: 14px;
    float: right;
}

.zhuN h4{
    margin-left: 46px;
    margin-top: 28px;
    font-size: 18px;
    line-height: 18px;
}
.zhuN>p{
    margin-left: 46px;
    margin-top: 18px;
    color: #666666;
    line-height: 18px;
    margin-bottom: 14px;
}
.zhuN-z{
    border-top: 1px solid #cacaca;
    width: 1056px;
    margin: 0 auto;
}

.zhuN .l{
    display: inline-block;
}

.zhuN .l .l-tianxie{
    margin-left: 48px;
}
.zhuN .l .l-tianxie div label{
    width: 124px;
    font-size: 14px;
    line-height: 14px;
    text-align:right;
    display: inline-block;
    vertical-align: middle;
}

.zhuN .l .l-tianxie div label i{
    font-style:normal;
    color: red;

}
.zhuN .l .l-tianxie div{
    margin-top: 12px;

}
.zhuN .l>ul{
    height: 43px;
    padding-bottom: 8px;
    margin-left: 48px;

}


.zhuN .l>ul li{
    float: left;
    height: 28px;
    line-height: 28px;
    width: 200px;
    background: #cacaca;
    color: #999999;
    font-size: 16px;
    text-align:center;
    margin-top: 16px;
}

.zhuN .l>ul .bg{
    background: #459dff;
    color: #ffffff;
}

.zhuN .r{
    font-size: 14px;
    line-height: 14px;
    margin-right: 40px;
    float: right;
    margin-bottom: 20px;/**/
}

.zhuN .l div input{
    width: 279px;
    height: 33px;
    border: 1px solid #cacaca;
    margin-left: 40px;
    outline: none;
    font-size: 16px;
    vertical-align: middle;
}

.zhuN .l .l-tianxie div:last-child span{
    width: 116px;
    height: 164px;
    line-height: 164px;
    border: 1px solid #cacaca;
    display: inline-block;
    margin-left: 40px;
}
.zhuN .l .l-tianxie div:last-child span a{
    font-size: 28px;
    line-height: 28px;
    margin-left: 48px;
}

.zhuN .l .l-tianxie .l-tianxie-l{
    width: 450px;
    display: inline-block;
    margin-top: 0;
}

.zhuN .l .l-tianxie .l-tianxie-r{
    margin-top: 94px;
    float: right;
}

.l-tianxie-r p{
    float: left;
}
.l-tianxie-r p:last-child img{
    height: 100%;
    width: 100%;
}
.l-tianxie-r p:first-child{
    margin-top: 20px;
    margin-right: 10px;
}
.l-tianxie-r p:last-child{
    height: 80px;
    width: 112px;
}

.but{
    text-align:center;
    margin-bottom: 40px;
    margin-top: 0;
}

.but button{
    font-weight: 600;
    background: #459dff;
    font-size: 14px;
    line-height: 34px;
    border: none;
    cursor: pointer;
    padding-left: 22px;
    padding-right: 22px;
    color: #ffffff;
    margin-top: 34px;
}
.but button:last-child{
    margin-left: 40px;
}
.r p{
    margin-top: 22px;
    color: #459dff;
}

.r p:first-child{
    margin-top: 30px;
    color: #333333;
}

.r p:nth-child(2){
    margin-top: 40px;
}


/*                            ÆóÒµ                     ÄÚÈÝ         */

.jin-e{
    display: none;
}

.jin-e ul li i,.jin-e ul li em{
    font-style:normal;
}

.jin-e ul li i{
    display: inline-block;
    height: 12px;
    width: 12px;margin-right: 8px;
}

.jin-e ul li i img{
    height: 100%;
    width: 100%;
    vertical-align: inherit;
}
.jin-e ul{
    background: #f3fbfb;
    margin-top: 22px;
    border: 1px solid #cfe3ef;
    margin-left: 46px;
}


.jin-e ul li{
    margin-top: 10px;
    padding-bottom: 10px;

}

.jin-e ul li:nth-child(1){
    font-size: 16px;    margin-left: 18px;
}
.jin-e ul li:nth-child(2){
    font-size: 14px;
    margin-left: 36px;
}
.jin-e ul li:nth-child(3){
    font-size: 14px;
    margin-left: 36px;
}

.jin-e>p{
    margin-left: 76px;
    margin-top: 20px;
}

.jin-e>p:last-child{
    margin-bottom: 90px;
}

.jin-e>p:nth-child(2){
   margin-top: 30px;
}
.l .xuan-d .jin-e>p>input{
    height: 16px;
    line-height: 16px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    color: #999999;
}
.l .xuan-d .jin-e button{
    border: none;
    width: 60px;
    height: 20px;
    background: #459dff;
    color: #ffffff;
    margin-left: 170px;
    margin-top: 20px;
    margin-bottom: 14px;
}


.jieguo{
    margin-left: 48px;
    height: 400px;
    width: 600px;
    background: saddlebrown;
}
/*                                                 */

.jieguo{
    display: none;
}









