
@charset "utf-8";
a:link,a:visited{color:#444;text-decoration:none;}
a:hover{color:#ff0000;}

img,input{
    outline: none;border: none;vertical-align: middle;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"]{-moz-appearance:textfield;}


.clear{clear:both; height: 0; line-height: 0; font-size: 0}
.header{
    width: 69.4%;
    margin: 0 auto;
}
.banx{
    /* width: 95.83%;*/
    width: 1150px;
    height: 100%;
    margin: 50px auto;
}
.banx>a{
    float: right;
    margin-bottom: 10px;
}
/*   1150                   头部                           */
.con{
    width: 100%;
    height: 680px;
    border: 1px solid #999999;
}
.con .con-1{
    height: 78px;
    margin-left: 8%;
}

.logo{
    width: 208px;
    height: 62px;
    background: url("../img/xuqiufabu/xuqiulogo.png") no-repeat;
    margin-right: 50px;
    margin-top: 8px;
    float: left;
}
.con .con-1>p{
    width: 158px;
    height: 18px;
    background: url("../img/xuqiufabu/zaoyang.png") no-repeat;
}
.content{outline:none;}

.con p{
    float: left;
    margin-top: 32px;
}
.con-2{
    font-size: 14px;
    width: 920px;
    border-top: 1px solid #999999;
    height: 39px;
    margin: 0 auto;
}

.con-2 div{
    height: 28px;
    line-height: 28px;
    float: left;
    width: 290px;
    text-align: center;
    margin-top: 12px;
}
.con-2 div:first-child{
    margin-left: 2.717%;
    background: #cacaca;

    color: #ffffff;
}

.con-2 div:first-child+div{

    background: #459dff;
    color: #ffffff;
}

.con-2 div:first-child+div+div{

    background: #cacaca;
    color: #ffffff;
}

/*                                                            input        框                                                      */

.zhuN{
    height: 426px;
    margin-top: 40px;
    font-size: 14px;
}

.zhuN .re{
    width: 518px;
    float: left;
    margin-left: 20px;
}

.zhuN input {
    height: 32px;
    line-height: 32px;
    border: 1px solid #999999;
    width: 282px;
    display: inline-block;
    text-align: center;
    margin-left: 40px;
}

.lianxiren,.dianhua{
    line-height: 30px;
    margin-top: 12px;
}

.re label{
    float: left;
    width: 114px;
    margin-left: 80px;
    text-align: right;
}

.re label i{
    font-style: normal;
    margin-right: 4px;    color: red;
}

.xuQ{
    line-height: 32px;
}



.xmshuom{
    height: 162px;
    margin-top: 12px;
}
.xmshuom p{
    margin-top: 4px;font-size: 10px;color: red;
    text-align: right;margin-left: 34px;
}
.xmshuom textarea{float: left;
    margin-left: 40px;
    width: 280px;
    height: 160px;
    border: 1px solid #cacaca;
    overflow: hidden;
}




.shangchuan input{
    width: 218px;
    margin-left: 0;

}

.shangchuan p{
    margin-top: 10px;;float: right;font-size: 10px;color: #ffffff;background: #459dff;
    padding-left: 4px;
    padding-right: 4px;height: 18px;line-height: 18px;cursor: pointer;
}
.shangchuan label{
    margin-right: 40px;
}
.shangchuan{
    line-height: 32px;margin-top: 12px;
}
.zR{
    float: left;
    margin: 0 auto;
    width: 600px;
}

.zR p{
    float: none;
    height: 14px;
    line-height: 14px;
    margin-left: 304px;
    color: #459dff;
}

.zR p:first-child{
    margin-top: 0;
    color: #333;
}


.tijiao{
    height: 30px;
    line-height: 30px;
    margin-top: 48px;
    margin-left: 236px;
}

.tijiao p{
    float: left;margin-top: 0;font-size: 10px;
    margin-left: 20px;
}

.re button{
    height: 30px;
    line-height: 30px;
    width: 80px;
    border-radius: 4px;
    background: #459dff;
    color: #ffffff;
    border: none;
    font-weight: 600;
    font-size: 16px;
    float: left;
    cursor: pointer;
}



























