
@charset "utf-8";
a:link,a:visited{color:#444;text-decoration:none;}
a:hover{color:#ff0000;}

article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
img,input{
    outline: none;border: none;vertical-align: middle;
}

/*body,html{
    height: 100%;
    width: 100%;
}*/

.fanHui{
    position: fixed;
    bottom:150px;
    right:50px;
    width: 89px;
    height:89px;
    border-radius: 89px;
    box-shadow: 4px 4px 10px #000;
    background:url("../img/fanhui0.png") no-repeat;
    font-weight: bold;
    display: none;
    z-index:999;
}
.fanHui:hover{
    background:url("../img/fanhui1.png") no-repeat;
}

.clear{clear:both; height: 0; line-height: 0; font-size: 0}

.banxin1260{
    background-color: #cecece;
    height: 100%;
    width: 1260px;
    margin: 0 auto;
}

.banx{
    width: 1200px;
    height: 100%;
    background-color: #ffffff;
    margin: 0 auto;
}

ul,ol{
    list-style: none;
}

.nav{
    /*float: left;*/
    width: 1260px;
    height: 40px;
    background-color: #eaeaea;
    margin: 0 auto;
    margin-bottom: 6px;
}
.nav>ul{
    float: right;
    height: 14px;

}
.nav>ul>li,.nav>span{
    float: left;
    padding-right:35px;
    margin-top: 8px;

}

.nav>ul>li{
    padding-left: 35px;
}
.nav>ul>li:nth-child(2),.nav>ul>li:nth-child(3),.nav>ul>li:nth-child(4),.nav>ul>li:nth-child(5),.nav>ul>li:nth-child(6){
    border-left: 1px solid #666666;
}

.nav>span{
    margin-left: 26px;
    color:#666666;
    padding-left: 20px;
}
/*logo                                                                                和搜索                    */
.search{
    height:95px;
    margin: 0 auto;
}
.logo{
    display: block;
    float: left;
    width:208px;
    height: 62px;
    background: url("../img/xuqiufabu/xuqiulogo.png") no-repeat;
    margin-top: 10px;
    margin-left: 20px;
}

.search>p{
    float: left;
    width: 158px;
    height: 18px;
    margin-top: 32px;
    margin-left: 56px;
    background: url(../img/xuqiufabu/zaoyang.png) no-repeat;
}

button{
    width: 40px;
    height: 42px;
    border: none;
    background: #459dff;
    float: left;
    margin-top: 20px;
}
#kuang{
    width: 268px;
    height: 40px;
    background: #fff;
    color: #999;
    border: 1px solid #459dff;
    padding-left: 20px;
    float: left;
    margin-top: 20px;
}
.search_f a{
    margin-left: 10px;
    font-size: 12px;
}

.search_f form{
    font-size: 18px;
    height: 95px;
    width: 330px;
    display: block;
}
.search_f form img{
    height: 22px;
    width: 22px;
    margin-top: 2px;
}
.search_f{
    float: right;
    padding-right: 112px;
    width: 400px ;
    height: 95px;
}

.search .re{
    color:red ;
}





/*                                        主导航                                               */
.mainbav{
    height: 46px;
    line-height: 46px;
    background:#459dff ;
    margin: 0 auto;
    color: #ffffff;
}

.mainbav>ul{
    float: left;
    margin-left: 212px;
}
.mainbav>ul>li{
    float: left;
    width: 126px;
    font-size: 18px;
    text-align :center;

}
.mainbav>ul>li>a{
    color: #ffffff;
}

.mr{
    background: #1c5ba0;
}



/*                         主体  内容                                  */

.content-1{
    margin-top: 10px;
    height: 798px;
    width: 1148px;
    border: 1px solid #bfbfbf;
    margin-left: 25px;
}
.content-1>div{
    float: left;
}

.content-1 .left{
    width: 241px;
    height: 798px;
    border-right: 1px solid #bfbfbf;
    background-color: #f4f3f3;
}

.content-1 .right{
    height: 800px;
    width: 828px;
    margin-left: 40px;
}
.content-1 .right ul{
    min-height:600px;
    
}
.content-1 .right div:last-child{
    height: 33px;
    margin-top: 52px;
    width: 808px;
}

.content-1 .right div:first-child ul li{
    border-bottom: 1px dashed #dcdcdc;
    height: 32px;
    line-height: 32px;
    width: 828px;
    font-size: 16px;

}

.content-1 .right ul li p{
    float: left;
    cursor: pointer;
}
.content-1 .right ul li p:hover{
    color: red;
}

.content-1 .right ul li span{
    float: right;
    margin-left: 58px;
    cursor: pointer;
}

.content-1 .right ul li span:hover{
    color: red;
}

.content-1 .right div:first-child ul li:first-child{
    margin-top: 24px;
}

.content-1 .right div .fa{
    width: 828px;
    border-bottom: 1px solid #459dff;
    height: 24px;
    line-height: 24px;
    margin-top: 68px;
}
.content-1 .right div ul li .title_a{
    width: 518px;
    height: 24px;
    overflow: hidden;
    float: left;
}

.content-1 .right div .fa p{
    height: 24px;width: 72px;
    background-color: #459dff;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
}

/*                                    左侧导航序列                                  */


.content-1 .left div:first-child{
    height: 82px;
}

.content-1 .left div:first-child+div{
    height: 32px;
    background-color: #e3e3e3;
    line-height: 32px;
    font-size: 18px;
}


.content-1 .left div:first-child+div i{
    font-style:normal;
    height: 18px;
    width: 18px;
    display: inline-block;
    background: url("../img/我的发布/我的发布.png") no-repeat;
    background-position: 2px 4px;
    margin-left: 61px;
    margin-right: 14px;
}





.content-1 .left .to div{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
    margin-left: 40px;
    margin-top: 12px; 
    float: left;
}
.content-1 .left .to div img{
    width: 60px;
    height: 60px;
    
}
.content-1 .left .to span{
    float: left;
    margin-left: 12px;
    margin-top: 36px;
    width:100px;
   overflow: hidden;
}

.content-1 .left .menu ul li .two{
    display: none;
}

.content-1 .left .menu ul li span i{
    font-style:normal;
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-right: 14px;
}


/*.content-1 .left .menu ul li span i:first-child{
    background: url("../img/我的发布/个人资料.png") no-repeat;
}*/

.content-1 .left .menu ul li:first-child span i{
    background: url("../img/我的发布/个人资料.png") no-repeat;
    background-position: 2px 2px;
}

.content-1 .left .menu ul li:first-child+li span i{
    background: url("../img/我的发布/评价.png") no-repeat;
}

.content-1 .left .menu ul li:first-child+li em{
    background-position: -42px -28px;
}


.content-1 .left .menu ul li:first-child+li+li+li em{
    background-position: -42px -28px;
}


.content-1 .left .menu ul li:last-child em{
    background-position: -42px -28px;
}





.content-1 .left .menu ul li:first-child+li+li span i{
    background: url("../img/我的发布/账号安全.png") no-repeat;
    background-position: 2px 2px;
}

.content-1 .left .menu ul li:first-child+li+li+li span i{
    background: url("../img/我的发布/常见问题.png") no-repeat;
    background-position: 2px 2px;
}

.content-1 .left .menu ul li:last-child span i{
    background: url("../img/我的发布/投诉与建议-编辑.png") no-repeat;
    background-position: 2px 2px;
}







.content-1 .left .menu{
    margin-left: 40px;
    width: 150px;
}

.content-1 .left .menu .fir>li{
    font-size: 18px;
    margin-top: 20px;
}
.content-1 .left .menu .fir>li:first-child{
    margin-top: 12px;
}

.content-1 .left .menu .fir li .two li{
    font-size: 14px;margin-left: 50px;
    line-height: 14px;
    margin-top: 10px;
}



.menu span {
    display: inline-block;
    padding-left: 20px;
    height: 18px;
    line-height: 18px;
    cursor: pointer;
}

.menu li {
    position: relative;
}

.menu em {
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url("../img/我的发布/icon.png") no-repeat;
    background-position: -59px -28px;
}

.menu em.bg {
    background-position: -42px -28px;
}















.pageDiv{text-align: right;color: #ccc;clear: both;}
.pageDiv a{display: inline-block;color: #4c4c4c;background: #f6fbf9;display: inline-block;height: 25px;	line-height: 25px;	padding: 3px 18px;border: 1px solid #ddd;	margin: 0 2px;vertical-align: middle;font-size: 14px;}
.pageDiv a:hover{text-decoration: none;border: 1px solid #428bca;}
.pageDiv span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 18px;margin: 0 2px;color: #ed601b;border-radius: 4px;vertical-align: middle;}
.pageDiv span.disabled{display: inline-block;height: 25px;line-height: 25px;padding: 3px 18px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;vertical-align: middle;}
.pageDiv span.pagecount{padding: 0 10px;font-size: 14px;color: #999999;margin-right: -30px;}
.pageDiv span.countYe{color: #4C4C4C;font-size: 14px;margin-left: 30px;}
.pageDiv span.countYe input{outline: none; float:none;border: 1px solid #ddd;height: 25px;padding: 3px 10px;width: 25px;margin: 0 5px;}
.pageDiv a.turndown{padding: 3px 10px;}




/*  占位符  横线                                            */
.main_zhanwei{
    height: 39px;
    width: 1150px;
    margin-left: 25px;
}




/*尾部                               尾部                   */
.main_wenbu{
    height: 124px;
    width: 1200px;
    background:#cecece;
}

.main_wenbu>p{
    float: left;
    display: inline-block;
    margin-top: 15px;
}




/*        尾部新修改        */

.main_wenbu>p{
    margin-left: 71px;
}


.main_wenbu>p:first-child{
    margin-left: 350px;
}

.main_wenbu>p:first-child+p+p+p+p+p{
    margin-left: 416px;
}

.main_wenbu>p:first-child+p+p+p+p+p+p{
    margin-left: 475px;
}


.allpage{
	font-size:18px;
	text-align:right;
	margin-bottom:10px;
	
}

.number{
	padding-right:15px;
}
.number a{
	border:1px solid #ccc;
	padding:2px 4px;
	font-size:16px;
}
.number a:hover{
	color:#fff !important;
	background:#459dff !important;
	border:1px solid #459dff !important;
}
.number strong{
	color:#459dff !important;
	/* font-weight:100 !important; */
	font-size:16px;
	padding:2px 4px;
}
.number var{
	padding:0 4px;
	
	font-style:normal
}
.number font{
	
	font-size:16px !important;
}
#PAGENO{
	border: 1px solid #459dff;
	text-align:center;
	width:35px;
	margin:0 5px;
	
}
.fir>li:hover{
	background:#e3e3e3;
}
.content-1 .right div ul li .del_a{
	color:#459dff 
}
.content-1 .right div ul li .del_a:hover{
	color:red 
}

