

@charset "utf-8";
a:link,a:visited{color:#444;text-decoration:none;}
a:hover{color:#ff0000;}

article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
 img,#kuang{
    outline: none;border: none;vertical-align: middle;
} 

/*body,html{
    height: 100%;
    width: 100%;
}*/

.fanHui{
    position: fixed;
    bottom:150px;
    right:50px;
    width: 89px;
    height:89px;
    border-radius: 89px;
    box-shadow: 4px 4px 10px #000;
    background:url("../img/fanhui0.png") no-repeat;
    font-weight: bold;
    display: none;
    z-index:999;
}
.fanHui:hover{
    background:url("../img/fanhui1.png") no-repeat;
}

.clear{clear:both; height: 0; line-height: 0; font-size: 0}

.banxin1260{
    background-color: #cecece;
    height: 100%;
    width: 1260px;
    margin: 0 auto;
}

.banx{
    width: 1200px;
    height: 100%;
    background-color: #ffffff;
    margin: 0 auto;
}

ul,ol{
    list-style: none;
}

.nav{
    /*float: left;*/
    width: 1260px;
    height: 40px;
    background-color: #eaeaea;
    margin: 0 auto;
    margin-bottom: 6px;
}
.nav>ul{
    float: right;
    height: 14px;

}
.nav>ul>li,.nav>span{
    float: left;
    padding-right:35px;
    margin-top: 8px;

}

.nav>ul>li{
    padding-left: 35px;
}
.nav>ul>li:nth-child(2),.nav>ul>li:nth-child(3),.nav>ul>li:nth-child(4),.nav>ul>li:nth-child(5),.nav>ul>li:nth-child(6){
    border-left: 1px solid #666666;
}

.nav>span{
    margin-left: 26px;
    color:#666666;
    padding-left: 20px;
}
/*logo                                                                                和搜索                    */
.search{
    height:95px;
    margin: 0 auto;
}
.logo{
    display: block;
    float: left;
    width:208px;
    height: 62px;
    background: url("../img/xuqiufabu/xuqiulogo.png") no-repeat;
    margin-top: 10px;
    margin-left: 20px;
}

.search>p{
    float: left;
/*     width: 158px;
    height: 18px;
    margin-top: 32px;
    margin-left: 56px; */
    width: 280px;
    height: 50px;
    margin-top: 24px;
    margin-left: 26px;
    background: url(../img/xuqiufabu/zaoyang.png) no-repeat;
}

button{
    width: 40px;
    height: 42px;
    border: none;
    background: #459dff;
    float: left;
    margin-top: 20px;
}
#kuang{
    width: 268px;
    height: 40px;
    background: #fff;
    color: #999;
    border: 1px solid #459dff;
    padding-left: 20px;
    float: left;
    margin-top: 20px;
} 
.search_f a{
    margin-left: 10px;
    font-size: 12px;
}

.search_f form{
    font-size: 18px;
    height: 95px;
    width: 330px;
    display: block;
}
.search_f form img{
    height: 22px;
    width: 22px;
    margin-top: 2px;
}
.search_f{
    float: right;
    padding-right: 112px;
    width: 400px ;
    height: 95px;
}
.search .re{
    color:red ;
}

/*                                        主导航                                               */
.mainbav{
    height: 46px;
    line-height: 46px;
    background:#459dff ;
    margin: 0 auto;
    color: #ffffff;
}

.mainbav>ul{
    float: left;

}
.mainbav>ul>li{
    float: left;
    width: 126px;
    font-size: 18px;
    text-align :center;

}
.mainbav>ul>li>a{
    color: #ffffff;
}

.mr{
    background: #1c5ba0;
}
.mainbav>ul>li:nth-child(1){
    width: 180px;
}

.mainbav>ul>li img{
    margin-right: 10px;
}

.mr{
    background: #1c5ba0;
}






/*                         主体  内容                                  */

.content-1{
    margin-top: 40px;
    height: 956px;
}
.content-1>div{
    float: left;
}

.content-1 .left{
    width: 246px;
    height: 570px;
    margin-left: 55px;
}

.content-1 .right{
    height: 956px;
    width: 808px;
    margin-left: 32px;
    display: none;
}

.content-1 .cc{
    display: block;
}


.content-1 .left{
    border-top: 6px solid #459dff;
    border-left: 2px solid #b9daff;
    border-right: 2px solid #b9daff;
    border-bottom: 2px solid #b9daff;
}



.content-1 .left ul li{
    height: 64px;
    line-height: 64px;
    border-bottom: 2px dashed #b9daff;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.content-1 .left ul li i{
    margin-left: 50px;
    margin-right: 30px;
}

/* .content-1 .left ul .caigou{
  background-color: #459DFF;
    color: #ffffff;
} */
.content-1 .left ul li .aaa{
    color: #ffffff;
}

.content-1 .left .qq{
    font-size: 28px;
    height: 84px;
    line-height: 84px;
    color: #459dff;
    display: inline-block;
    border-bottom: 2px dashed #b9daff;
    padding-right: 41px;
}



.content-1 .left .boo{
    height: 154px;
    border-bottom: 0;
    display: inline-block;
}


.content-1 .left ul li i{
    display: inline-block;
    height:20px;
    width: 18px;
    vertical-align: middle;
}




.content-1 .left ul li:first-child i{

}



.content-1 .left .qq i{
  display: inline-block;
    margin-left: 2px;
    margin-right: 40px;
    height: 84px;
    width: 50px;
    background: url("../img/xuqiudating/xiangqing/quanbu.png") no-repeat;
    vertical-align: top;
}



.content-1 .left ul .backblue{
	background:#459dff;
	
}
.content-1 .left ul .backblue a{
	color:#fff;
	
}
.content-1 .left ul .gongcheng .sb{
    background: url("../img/xuqiudating/xiangqing/gongcheng.png") no-repeat;
}

.content-1 .left ul .gongcheng .bs{
    background: url("../img/xuqiudating/xiangqing/gongc.png") no-repeat;
}



.content-1 .left ul .caigou .sb{
    background: url("../img/xuqiudating/xiangqing/caigou.png") no-repeat;
}

.content-1 .left ul .caigou .bs{
    background: url("../img/xuqiudating/xiangqing/caig.png") no-repeat;
}


.content-1 .left ul .sheji .sb{
    background: url("../img/xuqiudating/xiangqing/sheji.png") no-repeat;
}
.content-1 .left ul .sheji .bs{
    background: url("../img/xuqiudating/xiangqing/shej.png") no-repeat;
}



.content-1 .left ul .wuye .sb{
    background: url("../img/xuqiudating/xiangqing/wuye.png") no-repeat;
}
.content-1 .left ul .wuye .bs{
    background: url("../img/xuqiudating/xiangqing/renq.png") no-repeat;
}



.content-1 .left ul .zaojia .sb{
    background: url("../img/xuqiudating/xiangqing/zaojia.png") no-repeat;
}
.content-1 .left ul .zaojia .bs{
    background: url("../img/xuqiudating/xiangqing/zhaoj.png") no-repeat;
}




.content-1 .left .boo i{
    display: inline-block;
    margin-top: 41px;
    height: 117px;
    width: 243px;
    margin-left: 2px;
    margin-right: 0;
    background:  url("../img/xuqiudating/xiangqing/lanmu.png") no-repeat;
}



.content-1 .right div:first-child{
    width: 804px;
    height: 806px;
    border-top: 6px solid #459dff;
    border-right: 2px solid #b9daff;
    border-left: 2px solid #b9daff;
    border-bottom: 2px solid #b9daff;
}

.content-1 .right div:last-child{
    height: 33px;
    margin-top: 52px;
    width: 808px;
}


.content-1 .right div:first-child ul li{
    border-bottom: 1px dashed #dcdcdc;
    height: 36px;
    line-height: 36px;
    width: 748px;
    margin-left: 28px;
    font-size: 16px;
    vertical-align: bottom;

}

.content-1 .right div:first-child ul li a i{
    font-style:normal;
    float: right;
}

.content-1 .right div ul li a p{
    float: left;
    width: 550px;
    overflow: hidden;
    height: 36px;
    line-height: 36px;
}
.content-1 .right div ul li a i{
    float: right;
}


.content-1 .right div:first-child ul li:first-child{
    margin-top: 30px;
}


/* .pageDiv{text-align: right;color: #ccc;clear: both;}
.pageDiv a{display: inline-block;color: #4c4c4c;background: #f6fbf9;display: inline-block;height: 25px;	line-height: 25px;	padding: 3px 18px;border: 1px solid #ddd;	margin: 0 2px;vertical-align: middle;font-size: 14px;}
.pageDiv a:hover{text-decoration: none;border: 1px solid #428bca;}
.pageDiv span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 18px;margin: 0 2px;color: #ed601b;border-radius: 4px;vertical-align: middle;}
.pageDiv span.disabled{display: inline-block;height: 25px;line-height: 25px;padding: 3px 18px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;vertical-align: middle;}
.pageDiv span.pagecount{padding: 0 10px;font-size: 14px;color: #999999;margin-right: -30px;}
.pageDiv span.countYe{color: #4C4C4C;font-size: 14px;margin-left: 30px;}
.pageDiv span.countYe #kuang{outline: none; float:none;border: 1px solid #ddd;height: 25px;padding: 3px 10px;width: 25px;margin: 0 5px;}
.pageDiv a.turndown{padding: 3px 10px;} */



/*             梧桐网                                                      */
.main_wutong{
    margin-left: 25px;
    height: 230px;
    width: 1150px;
    background: #F6F6F6;
}

.main_wutong>p{
    float: left;
    font-size: 30px;
    margin-left: 36px;
    width: 120px;
    margin-top: 98px;
    margin-right: 12px;
}
.main_wutong ul{
    margin-top: 15px;
    float: left;
}

.main_wutong>ul>li{
    float: left;
    width: 186px;
    height: 200px;
    margin-right: 10px;
    background: #dddddd;
    cursor: pointer;
}

.main_wutong>ul>li:hover{
    background-color: #999999;
    color: #ffffff;
}



.main_wutong ul>li>ol{
    margin-top: 6px;
}
.main_wutong ul>li>ol>li{
    height: 30px;
    line-height: 30px;
    width: 82px;
    margin: 0 auto;
    font-size: 12px;
    padding-left: 18px;
}
.main_wutong ul>li>ol>li:nth-child(1){
    font-size: 16px;
    height: 40px;
    line-height: 40px;

}
.main_wutong ul>li>ol>li:nth-child(2){
    padding-left: 28px;

}
.main_wutong ul>li>ol>li:nth-child(3){
    padding-left: 28px;
}
.main_wutong ul>li>ol>li:nth-child(4){
    padding-left: 28px;

}.main_wutong ul>li>ol>li:nth-child(5){
     padding-left: 28px;
 }
.main_wutong ul>li>ol .w{
    padding-left: 0;
}


/*  占位符  横线                                            */
.main_zhanwei{
    height: 39px;
    width: 1150px;
    border-bottom: 1px solid #cacaca;
    margin-left: 25px;
}




/*尾部                               尾部                   */
.main_wenbu{
    height: 124px;
    width: 1200px;
    background:#cecece;
}

.main_wenbu>p{
    float: left;
    display: inline-block;
    margin-top: 15px;
}
.main_wenbu>p:nth-child(1){
    margin-left: 350px;

}
.main_wenbu>p:nth-child(2){
    margin-left: 71px;

}
.main_wenbu>p:nth-child(3){
    margin-left: 71px;

}
.main_wenbu>p:nth-child(4){
    margin-left: 71px;

}
.main_wenbu>p:nth-child(5){
    margin-left: 71px;

}
.main_wenbu>p:nth-child(6){
    margin-left: 325px;

}
.main_wenbu>p:nth-child(7){
    margin-left: 475px;

}
.allpage{
	font-size:18px;
	text-align:right;
	margin-bottom:10px;
	
}
#skip{
	font-size:18px;
	border:1px solid #ccc;
	font-family:"微软雅黑";
	padding:0 2px;
}
#skip:hover{
	background:#459dff;
	color:#fff;
	border:1px solid #459dff
}
#PAGENO{
	width:30px;
	margin:0 3px;
	text-align:center;
	font-size:16px;
}
.number{
	padding-right:15px;
}
.number a{
	border:1px solid #ccc;
	padding:2px 4px;
	font-size:16px;
}
.number a:hover{
	color:#fff !important;
	background:#459dff !important;
	border:1px solid #459dff !important;
}
.number strong{
	color:#459dff !important;
	/* font-weight:100 !important; */
	font-size:16px;
	padding:2px 4px;
}
.number var{
	padding:0 4px;
	
	font-style:normal
}
.number font{
	
	font-size:16px !important;
}

