*{
    margin: 0;
    padding: 0;

}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
input,img{
    outline: none;
    border: none;
    vertical-align: middle;
}
















/*

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
*/


/*                  弹窗  样式                          */



article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display:block
}
audio, canvas, video {
    display:inline-block;
    *display:inline;
    *zoom:1
}
audio:not([controls]) {
    display:none
}/* ������������֮�� www.lanrenzhijia.com */
table {
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show
}
ol, ul, menu {
    list-style:none
}
img {
    border:0
}
a:focus {
    outline:none
}
em, i {
    font-style: normal;
}
button, input, select, textarea {
    font-size:100%;
    margin:0;
    vertical-align:-3px;
    outline:none;
}
button, input {
    border:1px solid;
    outline:none;
    line-height:normal;
    *overflow:visible
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border:0;
    padding:0
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor:pointer;
    -webkit-appearance:button
}
input[type="search"] {
    -webkit-appearance:textfield;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance:none
}
textarea {
    overflow:auto;
    vertical-align:top
}
::selection {
    background:#72d0eb;
    color:#fff;
    text-shadow:none
}
::-moz-selection {
    background:#72d0eb;
    color:#fff;
    text-shadow:none
}
*[hidden] {
    display:none
}
a {
    color:#0088DB;
    text-decoration:none;
    cursor:pointer
}
a:hover {
    color:#2A5E8E
}
.clearfix:after, .central:after, .widget ul:after, .paging:after, .pagenav:after, .base-tit:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
.clearfix, .central, .widget ul, .paging, .pagenav, .base-tit {
    height:1%;
}
body, button, input, select, textarea, code {
    font-size:12px;
    font-family:microsoft yahei;
    color: #444;
}


/*  window     */


.spanf{
    height: 36px;

}


.spanf .spanf-1{
    float: left;
    height: 12px;
    line-height: 12px;
    margin-left: 152px;
}
.spanf .spanf-1 input{
    height: 14px;
    width: 14px;
    margin-left: 0;
    float: left;
}

.spanf .spanf-1 p{
    float: left;
    margin-left: 6px;
}

.spanf .spanf-2{
    float: left;
    margin-left: 0;
    padding: 0;
    height: 12px;
    line-height: 12px;
}


.spanf .spanf-2 .theme-buy{
    margin-left: 0;
    margin-top: 0;
}




/* input */
.ipt {
    border: solid 1px #d2d2d2;
    border-left-color: #ccc;
    border-top-color: #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 #f8f8f8;
    background-color: #fff;
    padding: 4px 6px;
    height: 21px;
    line-height: 21px;
    color: #555;
    width: 180px;
    vertical-align: baseline;
}
.ipt-mini {
    width: 140px;
    padding: 1px 3px;
}
.ipt:focus {
    border-color: #95C8F1;
    box-shadow: 0 0 4px #95C8F1;
}
/* btn */
.btn {
    position: relative;
    cursor: pointer;
    /* display: inline-block;
     vertical-align: middle;
     font-size: 12px;
     font-weight: bold;
     height: 27px;
     line-height: 27px;
     min-width: 52px;
     padding: 0 12px;
     text-align: center;
     text-decoration: none;
     border-radius: 2px;
     border: 1px solid #ddd;
     color: #666;
     background-color: #f5f5f5;
     background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
     background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
     background: linear-gradient(top, #F5F5F5, #F1F1F1);*/
}
input.btn {
    height: 29px;
}
.btn:hover {
    border-color:#c6c6c6;
    color:#333;
    background-color:#f8f8f8;
    background:-webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background:-moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background:linear-gradient(top, #f8f8f8, #f1f1f1);
    box-shadow:#ddd 0 1px 1px 0;
}
.btn:active, .btn.btn-active {
    box-shadow:#ddd 0 1px 2px 0 inset;
    border-color:#c6c6c6;
}
.btn:focus {
    border-color:#4d90fe;
    outline:none
}
.btn-primary {
    color: #459dff;
}
.btn-primary:hover {
    border-color:#2F5BB7;
    color:#fff;
    background-color: #4D90FE;
    background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
    background: -moz-linear-gradient(top, #4D90FE, #357AE8);
    background: linear-gradient(top, #4D90FE, #357AE8);
}
.btn-primary:active, .btn-primary.btn-active {
    box-shadow:#2176D3 0 1px 2px 0 inset;
    border-color: #3079ED;
}
.btn-primary:focus {
    border-color:#4d90fe;
    outline:none
}
/* ������������֮�� www.lanrenzhijia.com */


.theme-buy {
    margin-top:10%;
    text-align: center;
}
.theme-gobuy, .theme-signin {
    font-size: 15px;
}
.theme-price {
    position: relative;
    bottom: -6px;
    font-family: microsoft yahei, Arial, Helvetica, sans-serif;
    margin-right: 20px;
    font-weight: bold;
    color: #f60;
    line-height: 32px;
    font-size: 24px;
    display: inline-block;
}
.theme-price dfn {
    font-style: normal;
    font-size: 18px;
    margin-right: 2px;
}
.theme-desc {
    padding: 30px;
}
.theme-version {
    padding: 30px;
}
.gr .spanf .spanf-2 .theme-popover-mask {

    margin-left: 0;
    margin-top: 0;
    padding: 0;
    z-index: 9998;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    display:none
}
.gr .spanf .spanf-2 .theme-popover{
    margin-left: 0;
    margin-top: 0;
}

.theme-popover {
    z-index: 9999;
    position: fixed;
    top: 129px;
    left: 616px;
    width: 660px;
    height: 500px;
    margin: -180px 0 0 -330px;
    border-radius: 5px;
    border: solid 2px #666;
    background-color: #fff;
    display: none;
    box-shadow: 0 0 10px #666;
}

.gr .spanf .spanf-2 .theme-popover .theme-poptit{
    margin-left: 0;
    margin-top: 0;
}
.gr .spanf .spanf-2 .theme-popover .www{
    margin: 20px;
    overflow: auto;
    width: 632px;
    height: 424px;
}
.gr .spanf .spanf-2 .theme-popover .www p{

    line-height: 16px;
    letter-spacing: 2px;

}
.gr .spanf .spanf-2 .theme-popover .www h4{
    margin-top: 20px;
    margin-bottom: 20px;
}

.theme-poptit {
    border-bottom:1px solid #ddd;
    padding:12px;
    position: relative;
}


.theme-popbod {
    padding:60px 15px;
    color:#444;
    height: 148px;
}
.theme-popbom {
    padding:15px;
    background-color:#f6f6f6;
    border-top:1px solid #ddd;
    border-radius:0 0 5px 5px;
    color:#666
}
.theme-popbom a {
    margin-left:8px
}
.theme-poptit .close {
    float:right;
    color:#999;
    padding:5px;
    margin:-2px -5px -5px;
    font:bold 14px/14px simsun;
    text-shadow:0 1px 0 #ddd
}
.theme-poptit .close:hover {
    color:#444;
}
.btn.theme-reg {
    position: absolute;
    top: 8px;
    left: 43%;
    display: none
}
.inp-gray, .feed-mail-inp {
    border:1px solid #ccc;
    background-color:#fdfdfd;
    width:220px;
    height:16px;
    padding:4px;
    color:#444;
    margin-right:6px
}
.dform {
    padding:80px 60px 40px;
    text-align: center;
}
.dform .ipt_error {
    background-color:#FFFFCC;
    border-color:#FFCC66
}
.dform-tip {
    display:none;
    background-color:#080;
    color:#fff;
    line-height:42px;
    margin-top:10px;
    font-size: 14px;
}
.dform-tip-errer {
    background-color: #CF301A;
}
.dform-tip a {
    display: inline-block;
    padding: 0 20px;
    margin-left:10px;
    background-color: #FFE924;
    color: #CF301A;
}
.dform-login {
    padding:0;
    height: 270px;
    overflow: hidden;
}
.dform-login iframe {
    height: 470px;
    margin-top: -180px;
}
.theme-signin {
    margin: -50px -20px -50px 90px;
    text-align:left;
    font-size: 14px;
}
.theme-signin h4 {
    color:#999;
    font-weight:100;
    margin-bottom: 20px;
    font-size: 12px;
}
.theme-signin li {
    padding-left: 80px;
    margin-bottom: 15px;
}
.theme-signin li strong {
    float: left;
    margin-left: -80px;
    width: 80px;
    text-align: right;
    line-height: 32px;
}
.theme-signin .btn {
    margin-bottom: 10px;
}
.theme-signin p {
    font-size: 12px;
    color: #999;
}
.theme-desc, .theme-version {
    padding-top: 0
}



























/*input[type="number"]{-moz-appearance:textfield;}*/




button{
    border: none;
}


.tuceng{

    height: 800px;
    width: 1260px;
    margin: 0 auto;

    background:url("../img/tcc.png") no-repeat;
}

.neiR{
    border: 1px solid #999999;
    border-radius: 5px;
    width: 958px;
    margin: 10px 150px;
    padding-bottom:20px;
    display: inline-block;
}
.neiR ul{
    margin-top: 14px;
    border-bottom: 1px solid #999999;
    width: 918px;
    height: 32px;
    margin-left: 20px;
}

.neiR ul li{
    float: left;
    font-size: 18px;
    margin-left: 70px;
    font-weight: 900;
    cursor:pointer
}

.neiR ul li i{
   display: none;
    height: 4px;
    background: #459dff;
    margin-top: 8px;

}

.neiR ul li:hover i{
    display: block;
}
.tuceng>a{
    float: right;
    margin-right: 150px;
    margin-top: 50px;
}

.tuceng>a:hover{
    color: red;
}

label{
    width: 110px;
    height: 20px;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}


.gr>p,.qy>p{
    margin-top: 12px;
    margin-left: 90px;
    font-size: 16px;
    color: #459dff;
    font-weight: 900;
}

.qy{
    display: none;
}


/*                                                                               */
input{
    border: 1px solid #999999;
    height: 34px;
    width: 280px;
    border-radius: 2px;
    margin-left: 40px;
}
.reght{
    width: 240px;
}

.gr div,.qy div{
    margin-left: 70px;
    margin-top: 12px;
}
.qy span{
    display: block;
    height: 14px;
    margin-top: 12px;
    margin-left: 147px;
    font-size: 14px;

}
.neiR .gr span .wei,.qy span .wei{
    color: #459dff;
    margin-left: 0;
}



.gr span{
    display: block;
    height: 20px;
    margin-top: 12px;
    margin-left: 147px;
    font-size: 14px;
}
.neiR .gr .name p{
    font-size: 16px;

}
.neiR .gr .name{
    margin-left: 60px;
}




.gr span input,.qy span input{
    height: 14px;
    width: 14px;
    float: left;
    margin-right: 4px;
    margin-left: 40px;
    margin-top: 4px;
    

}
.gr span p,.qy span p{
    float: left;
}

.gr .yd p label{
	 font-size: 12px;
}
.gr .yd p input{
	   margin-left: 0;
}


.gr .suoZ{
    height: 38px;
    line-height: 38px;
    font-size: 16px;
}

.gr .suoZ label{
    margin-right: 40px;
}

.gr .suoZ select{
    height: 34px;
}





.yanZheng img{
    height: 34px;
    width: 90px;
    margin-left: 10px;
    margin-right: 10px;
}
.yanZheng input{
    width: 94px;
}

.yanZheng .hua{
	font-size: 12px;
}


.yanZheng a{
	 color: #459dff;
    font-size: 12px;
}


.duanX input{
    width: 166px;
    margin-right: 4px;
}
.duanX button{
    height: 34px;
    border-radius: 2px;
    width: 104px;
    background: #459dff;
    font-size: 14px;
    color: #ffffff;
}

.gr>button{
    height: 28px;
    width: 70px;
    margin-top: 10px;
    margin-left: 198px;
    font-size: 14px;
    color: #ffffff;
    background: #459dff;
    margin-bottom: 118px;
    font-weight: 600;
}
.qy>button{
    height: 28px;
    width: 70px;
    margin-top: 10px;
    margin-left: 198px;
    font-size: 14px;
    color: #ffffff;
    background: #459dff;
    margin-bottom: 20px;
    font-weight: 600;
}

.neiR .qy span:last-child p:first-child input{
    height: 14px;
    width: 14px;
    float: left;
    margin-right: 4px;
    margin-top: 0;
}


.neiR .gr span p,.neiR .qy span p{
      float: left;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-left: 74px;
}

.neiR .gr .name .n{
	 margin-left: 4px;
}
.neiR .gr .name .v{
	 margin-left: 4px;
}



.neiR .qy .x,.neiR .gr .x{
    margin-left: 88px;
}
.tuceng .neiR .qy .f .y,.tuceng .neiR .gr .f .y{
    height: 12px;
    line-height: 12px;
    margin-left: 34px;
}

.tuceng .neiR .qy .f .y p,.tuceng .neiR .gr .f .y p{
    margin-left: 20px;
}

.xL4>button{
    border: none;
    color: #fff;
    font-size: 18px;
    background: #459dff;
    width: 80px;
    height: 26px;
    border-radius: 10px;
    margin-top: 26px;
    margin-left:54px ;
    float: left;
   cursor: pointer;
}

.dengL{
    display: inline-block;
    width: 948px;height: 428px;
    border: 1px solid #999999;
    margin: 185px 155px;
    background: #ffffff;
   filter:alpha(opacity:70); opacity:0.7;  -moz-opacity:0.7;-khtml-opacity: 0.7;
}


#loginsubmit{
	border: none;
    color: #fff;
    font-size: 18px;
    background: #459dff;
    width: 80px;
    height: 26px;
    border-radius: 10px;
    margin-top: 26px;
    margin-left:222px ;
    float: left;
   cursor: pointer;
}






