<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parasol.core.dao.mall.Wt_admin_expendMapper" >
  <resultMap id="BaseResultMap" type="com.parasol.core.mall.Wt_admin_expend" >
    <id column="ad_ex_id" property="adExId" jdbcType="INTEGER" />
    <result column="ad_id" property="adId" jdbcType="INTEGER" />
    <result column="ad_company_nature" property="adCompanyNature" jdbcType="VARCHAR" />
    <result column="ad_company_url" property="adCompanyUrl" jdbcType="VARCHAR" />
    <result column="ad_company_address" property="adCompanyAddress" jdbcType="VARCHAR" />
    <result column="ad_company_phone" property="adCompanyPhone" jdbcType="VARCHAR" />
    <result column="ad_company_code" property="adCompanyCode" jdbcType="VARCHAR" />
    <result column="ad_company_mail" property="adCompanyMail" jdbcType="VARCHAR" />
    <result column="ad_company_contacts" property="adCompanyContacts" jdbcType="VARCHAR" />
    <result column="ad_company_contactsnumber" property="adCompanyContactsnumber" jdbcType="VARCHAR" />
    <result column="ad_bank_name" property="adBankName" jdbcType="VARCHAR" />
    <result column="ad_bank_username" property="adBankUsername" jdbcType="VARCHAR" />
    <result column="ad_bank_number" property="adBankNumber" jdbcType="VARCHAR" />
    <result column="ad_bank_address" property="adBankAddress" jdbcType="VARCHAR" />
    <result column="ad_shop_number" property="adShopNumber" jdbcType="VARCHAR" />
    <result column="ad_shop_name" property="adShopName" jdbcType="VARCHAR" />
    <result column="ad_shop_username" property="adShopUsername" jdbcType="VARCHAR" />
    <result column="ad_shop_phone" property="adShopPhone" jdbcType="VARCHAR" />
    <result column="ad_shop_qq" property="adShopQq" jdbcType="VARCHAR" />
    <result column="ad_shop_logo" property="adShopLogo" jdbcType="VARCHAR" />
    <result column="ad_license_img" property="adLicenseImg" jdbcType="VARCHAR" />
    <result column="ad_legal_img" property="adLegalImg" jdbcType="VARCHAR" />
    <result column="ad_manage_img" property="adManageImg" jdbcType="VARCHAR" />
    <result column="ad_state" property="adState" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    ad_ex_id,ad_id,ad_company_nature,ad_company_url,ad_company_address,ad_company_phone,ad_company_code,ad_company_mail,ad_company_contacts,ad_company_contactsnumber,ad_bank_name,ad_bank_username,ad_bank_number,ad_bank_address,ad_shop_number,ad_shop_name,ad_shop_username,ad_shop_phone,ad_shop_qq,ad_shop_logo,ad_license_img,ad_legal_img,ad_manage_img,ad_state
    from wt_admin_expend
    where ad_ex_id = #{adExId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wt_admin_expend
    where ad_ex_id = #{adExId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.parasol.core.mall.Wt_admin_expend" >
    insert into wt_admin_expend (ad_ex_id, ad_id, ad_company_nature, 
      ad_company_url, ad_company_address, ad_company_phone, 
      ad_company_code, ad_company_mail, ad_company_contacts, 
      ad_company_contactsnumber, ad_bank_name, ad_bank_username, 
      ad_bank_number, ad_bank_address, ad_shop_number, 
      ad_shop_name, ad_shop_username, ad_shop_phone, 
      ad_shop_qq, ad_shop_logo, ad_license_img, 
      ad_legal_img, ad_manage_img, ad_state
      )
    values (#{adExId,jdbcType=INTEGER}, #{adId,jdbcType=INTEGER}, #{adCompanyNature,jdbcType=VARCHAR}, 
      #{adCompanyUrl,jdbcType=VARCHAR}, #{adCompanyAddress,jdbcType=VARCHAR}, #{adCompanyPhone,jdbcType=VARCHAR}, 
      #{adCompanyCode,jdbcType=VARCHAR}, #{adCompanyMail,jdbcType=VARCHAR}, #{adCompanyContacts,jdbcType=VARCHAR}, 
      #{adCompanyContactsnumber,jdbcType=VARCHAR}, #{adBankName,jdbcType=VARCHAR}, #{adBankUsername,jdbcType=VARCHAR}, 
      #{adBankNumber,jdbcType=VARCHAR}, #{adBankAddress,jdbcType=VARCHAR}, #{adShopNumber,jdbcType=VARCHAR}, 
      #{adShopName,jdbcType=VARCHAR}, #{adShopUsername,jdbcType=VARCHAR}, #{adShopPhone,jdbcType=VARCHAR}, 
      #{adShopQq,jdbcType=VARCHAR}, #{adShopLogo,jdbcType=VARCHAR}, #{adLicenseImg,jdbcType=VARCHAR}, 
      #{adLegalImg,jdbcType=VARCHAR}, #{adManageImg,jdbcType=VARCHAR}, #{adState,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.parasol.core.mall.Wt_admin_expend" >
    insert into wt_admin_expend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adExId != null" >
        ad_ex_id,
      </if>
      <if test="adId != null" >
        ad_id,
      </if>
      <if test="adCompanyNature != null" >
        ad_company_nature,
      </if>
      <if test="adCompanyUrl != null" >
        ad_company_url,
      </if>
      <if test="adCompanyAddress != null" >
        ad_company_address,
      </if>
      <if test="adCompanyPhone != null" >
        ad_company_phone,
      </if>
      <if test="adCompanyCode != null" >
        ad_company_code,
      </if>
      <if test="adCompanyMail != null" >
        ad_company_mail,
      </if>
      <if test="adCompanyContacts != null" >
        ad_company_contacts,
      </if>
      <if test="adCompanyContactsnumber != null" >
        ad_company_contactsnumber,
      </if>
      <if test="adBankName != null" >
        ad_bank_name,
      </if>
      <if test="adBankUsername != null" >
        ad_bank_username,
      </if>
      <if test="adBankNumber != null" >
        ad_bank_number,
      </if>
      <if test="adBankAddress != null" >
        ad_bank_address,
      </if>
      <if test="adShopNumber != null" >
        ad_shop_number,
      </if>
      <if test="adShopName != null" >
        ad_shop_name,
      </if>
      <if test="adShopUsername != null" >
        ad_shop_username,
      </if>
      <if test="adShopPhone != null" >
        ad_shop_phone,
      </if>
      <if test="adShopQq != null" >
        ad_shop_qq,
      </if>
      <if test="adShopLogo != null" >
        ad_shop_logo,
      </if>
      <if test="adLicenseImg != null" >
        ad_license_img,
      </if>
      <if test="adLegalImg != null" >
        ad_legal_img,
      </if>
      <if test="adManageImg != null" >
        ad_manage_img,
      </if>
      <if test="adState != null" >
        ad_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adExId != null" >
        #{adExId,jdbcType=INTEGER},
      </if>
      <if test="adId != null" >
        #{adId,jdbcType=INTEGER},
      </if>
      <if test="adCompanyNature != null" >
        #{adCompanyNature,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyUrl != null" >
        #{adCompanyUrl,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyAddress != null" >
        #{adCompanyAddress,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyPhone != null" >
        #{adCompanyPhone,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyCode != null" >
        #{adCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyMail != null" >
        #{adCompanyMail,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyContacts != null" >
        #{adCompanyContacts,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyContactsnumber != null" >
        #{adCompanyContactsnumber,jdbcType=VARCHAR},
      </if>
      <if test="adBankName != null" >
        #{adBankName,jdbcType=VARCHAR},
      </if>
      <if test="adBankUsername != null" >
        #{adBankUsername,jdbcType=VARCHAR},
      </if>
      <if test="adBankNumber != null" >
        #{adBankNumber,jdbcType=VARCHAR},
      </if>
      <if test="adBankAddress != null" >
        #{adBankAddress,jdbcType=VARCHAR},
      </if>
      <if test="adShopNumber != null" >
        #{adShopNumber,jdbcType=VARCHAR},
      </if>
      <if test="adShopName != null" >
        #{adShopName,jdbcType=VARCHAR},
      </if>
      <if test="adShopUsername != null" >
        #{adShopUsername,jdbcType=VARCHAR},
      </if>
      <if test="adShopPhone != null" >
        #{adShopPhone,jdbcType=VARCHAR},
      </if>
      <if test="adShopQq != null" >
        #{adShopQq,jdbcType=VARCHAR},
      </if>
      <if test="adShopLogo != null" >
        #{adShopLogo,jdbcType=VARCHAR},
      </if>
      <if test="adLicenseImg != null" >
        #{adLicenseImg,jdbcType=VARCHAR},
      </if>
      <if test="adLegalImg != null" >
        #{adLegalImg,jdbcType=VARCHAR},
      </if>
      <if test="adManageImg != null" >
        #{adManageImg,jdbcType=VARCHAR},
      </if>
      <if test="adState != null" >
        #{adState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.parasol.core.mall.Wt_admin_expend" >
    update wt_admin_expend
    <set >
      <if test="adId != null" >
        ad_id = #{adId,jdbcType=INTEGER},
      </if>
      <if test="adCompanyNature != null" >
        ad_company_nature = #{adCompanyNature,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyUrl != null" >
        ad_company_url = #{adCompanyUrl,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyAddress != null" >
        ad_company_address = #{adCompanyAddress,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyPhone != null" >
        ad_company_phone = #{adCompanyPhone,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyCode != null" >
        ad_company_code = #{adCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyMail != null" >
        ad_company_mail = #{adCompanyMail,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyContacts != null" >
        ad_company_contacts = #{adCompanyContacts,jdbcType=VARCHAR},
      </if>
      <if test="adCompanyContactsnumber != null" >
        ad_company_contactsnumber = #{adCompanyContactsnumber,jdbcType=VARCHAR},
      </if>
      <if test="adBankName != null" >
        ad_bank_name = #{adBankName,jdbcType=VARCHAR},
      </if>
      <if test="adBankUsername != null" >
        ad_bank_username = #{adBankUsername,jdbcType=VARCHAR},
      </if>
      <if test="adBankNumber != null" >
        ad_bank_number = #{adBankNumber,jdbcType=VARCHAR},
      </if>
      <if test="adBankAddress != null" >
        ad_bank_address = #{adBankAddress,jdbcType=VARCHAR},
      </if>
      <if test="adShopNumber != null" >
        ad_shop_number = #{adShopNumber,jdbcType=VARCHAR},
      </if>
      <if test="adShopName != null" >
        ad_shop_name = #{adShopName,jdbcType=VARCHAR},
      </if>
      <if test="adShopUsername != null" >
        ad_shop_username = #{adShopUsername,jdbcType=VARCHAR},
      </if>
      <if test="adShopPhone != null" >
        ad_shop_phone = #{adShopPhone,jdbcType=VARCHAR},
      </if>
      <if test="adShopQq != null" >
        ad_shop_qq = #{adShopQq,jdbcType=VARCHAR},
      </if>
      <if test="adShopLogo != null" >
        ad_shop_logo = #{adShopLogo,jdbcType=VARCHAR},
      </if>
      <if test="adLicenseImg != null" >
        ad_license_img = #{adLicenseImg,jdbcType=VARCHAR},
      </if>
      <if test="adLegalImg != null" >
        ad_legal_img = #{adLegalImg,jdbcType=VARCHAR},
      </if>
      <if test="adManageImg != null" >
        ad_manage_img = #{adManageImg,jdbcType=VARCHAR},
      </if>
      <if test="adState != null" >
        ad_state = #{adState,jdbcType=INTEGER},
      </if>
    </set>
    where ad_ex_id = #{adExId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.parasol.core.mall.Wt_admin_expend" >
    update wt_admin_expend
    set ad_id = #{adId,jdbcType=INTEGER},
      ad_company_nature = #{adCompanyNature,jdbcType=VARCHAR},
      ad_company_url = #{adCompanyUrl,jdbcType=VARCHAR},
      ad_company_address = #{adCompanyAddress,jdbcType=VARCHAR},
      ad_company_phone = #{adCompanyPhone,jdbcType=VARCHAR},
      ad_company_code = #{adCompanyCode,jdbcType=VARCHAR},
      ad_company_mail = #{adCompanyMail,jdbcType=VARCHAR},
      ad_company_contacts = #{adCompanyContacts,jdbcType=VARCHAR},
      ad_company_contactsnumber = #{adCompanyContactsnumber,jdbcType=VARCHAR},
      ad_bank_name = #{adBankName,jdbcType=VARCHAR},
      ad_bank_username = #{adBankUsername,jdbcType=VARCHAR},
      ad_bank_number = #{adBankNumber,jdbcType=VARCHAR},
      ad_bank_address = #{adBankAddress,jdbcType=VARCHAR},
      ad_shop_number = #{adShopNumber,jdbcType=VARCHAR},
      ad_shop_name = #{adShopName,jdbcType=VARCHAR},
      ad_shop_username = #{adShopUsername,jdbcType=VARCHAR},
      ad_shop_phone = #{adShopPhone,jdbcType=VARCHAR},
      ad_shop_qq = #{adShopQq,jdbcType=VARCHAR},
      ad_shop_logo = #{adShopLogo,jdbcType=VARCHAR},
      ad_license_img = #{adLicenseImg,jdbcType=VARCHAR},
      ad_legal_img = #{adLegalImg,jdbcType=VARCHAR},
      ad_manage_img = #{adManageImg,jdbcType=VARCHAR},
      ad_state = #{adState,jdbcType=INTEGER}
    where ad_ex_id = #{adExId,jdbcType=INTEGER}
  </update>
</mapper>