<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parasol.core.dao.mall.Wt_categoryMapper" >
  <resultMap id="BaseResultMap" type="com.parasol.core.mall.Wt_category" >
    <id column="cat_sid" property="catSid" jdbcType="INTEGER" />
    <result column="cat_sonid" property="catSonid" jdbcType="INTEGER" />
    <result column="cat_patentid" property="catPatentid" jdbcType="INTEGER" />
    <result column="cat_id" property="catId" jdbcType="INTEGER" />
    <result column="cat_name" property="catName" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    cat_sid,cat_sonid,cat_patentid,cat_id,cat_name
    from wt_category
    where cat_sid = #{catSid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wt_category
    where cat_sid = #{catSid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.parasol.core.mall.Wt_category" >
    insert into wt_category (cat_sid, cat_sonid, cat_patentid, 
      cat_id, cat_name)
    values (#{catSid,jdbcType=INTEGER}, #{catSonid,jdbcType=INTEGER}, #{catPatentid,jdbcType=INTEGER}, 
      #{catId,jdbcType=INTEGER}, #{catName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.parasol.core.mall.Wt_category" >
    insert into wt_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="catSid != null" >
        cat_sid,
      </if>
      <if test="catSonid != null" >
        cat_sonid,
      </if>
      <if test="catPatentid != null" >
        cat_patentid,
      </if>
      <if test="catId != null" >
        cat_id,
      </if>
      <if test="catName != null" >
        cat_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="catSid != null" >
        #{catSid,jdbcType=INTEGER},
      </if>
      <if test="catSonid != null" >
        #{catSonid,jdbcType=INTEGER},
      </if>
      <if test="catPatentid != null" >
        #{catPatentid,jdbcType=INTEGER},
      </if>
      <if test="catId != null" >
        #{catId,jdbcType=INTEGER},
      </if>
      <if test="catName != null" >
        #{catName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.parasol.core.mall.Wt_category" >
    update wt_category
    <set >
      <if test="catSonid != null" >
        cat_sonid = #{catSonid,jdbcType=INTEGER},
      </if>
      <if test="catPatentid != null" >
        cat_patentid = #{catPatentid,jdbcType=INTEGER},
      </if>
      <if test="catId != null" >
        cat_id = #{catId,jdbcType=INTEGER},
      </if>
      <if test="catName != null" >
        cat_name = #{catName,jdbcType=VARCHAR},
      </if>
    </set>
    where cat_sid = #{catSid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.parasol.core.mall.Wt_category" >
    update wt_category
    set cat_sonid = #{catSonid,jdbcType=INTEGER},
      cat_patentid = #{catPatentid,jdbcType=INTEGER},
      cat_id = #{catId,jdbcType=INTEGER},
      cat_name = #{catName,jdbcType=VARCHAR}
    where cat_sid = #{catSid,jdbcType=INTEGER}
  </update>
</mapper>