<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parasol.core.dao.mall.Wt_shopMapper" >
  <resultMap id="BaseResultMap" type="com.parasol.core.mall.Wt_shop" >
    <id column="sp_id" property="spId" jdbcType="INTEGER" />
    <result column="ad_ex_id" property="adExId" jdbcType="INTEGER" />
    <result column="gd_id" property="gdId" jdbcType="INTEGER" />
    <result column="ad_id" property="adId" jdbcType="INTEGER" />
    <result column="gd_volume" property="gdVolume" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    sp_id,ad_ex_id,gd_id,ad_id,gd_volume
    from wt_shop
    where sp_id = #{spId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wt_shop
    where sp_id = #{spId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.parasol.core.mall.Wt_shop" >
    insert into wt_shop (sp_id, ad_ex_id, gd_id, 
      ad_id, gd_volume)
    values (#{spId,jdbcType=INTEGER}, #{adExId,jdbcType=INTEGER}, #{gdId,jdbcType=INTEGER}, 
      #{adId,jdbcType=INTEGER}, #{gdVolume,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.parasol.core.mall.Wt_shop" >
    insert into wt_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spId != null" >
        sp_id,
      </if>
      <if test="adExId != null" >
        ad_ex_id,
      </if>
      <if test="gdId != null" >
        gd_id,
      </if>
      <if test="adId != null" >
        ad_id,
      </if>
      <if test="gdVolume != null" >
        gd_volume,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spId != null" >
        #{spId,jdbcType=INTEGER},
      </if>
      <if test="adExId != null" >
        #{adExId,jdbcType=INTEGER},
      </if>
      <if test="gdId != null" >
        #{gdId,jdbcType=INTEGER},
      </if>
      <if test="adId != null" >
        #{adId,jdbcType=INTEGER},
      </if>
      <if test="gdVolume != null" >
        #{gdVolume,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.parasol.core.mall.Wt_shop" >
    update wt_shop
    <set >
      <if test="adExId != null" >
        ad_ex_id = #{adExId,jdbcType=INTEGER},
      </if>
      <if test="gdId != null" >
        gd_id = #{gdId,jdbcType=INTEGER},
      </if>
      <if test="adId != null" >
        ad_id = #{adId,jdbcType=INTEGER},
      </if>
      <if test="gdVolume != null" >
        gd_volume = #{gdVolume,jdbcType=INTEGER},
      </if>
    </set>
    where sp_id = #{spId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.parasol.core.mall.Wt_shop" >
    update wt_shop
    set ad_ex_id = #{adExId,jdbcType=INTEGER},
      gd_id = #{gdId,jdbcType=INTEGER},
      ad_id = #{adId,jdbcType=INTEGER},
      gd_volume = #{gdVolume,jdbcType=INTEGER}
    where sp_id = #{spId,jdbcType=INTEGER}
  </update>
</mapper>