<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parasol.core.dao.adpositionid.IndexImgCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.parasol.core.adPositionId.IndexImgCategory" >
    <id column="id" property="id" jdbcType="INTEGER" />
      <result column="cat_parentid" property="cat_parentid" jdbcType="INTEGER" />
      <result column="gd_price" property="gd_price" jdbcType="DOUBLE" />
      <result column="img_url" property="img_url" jdbcType="VARCHAR" />
      <result column="gd_name" property="gd_name" jdbcType="VARCHAR" />
      <result column="gd_id" property="gd_id" jdbcType="INTEGER" />
  </resultMap>

  <insert id="addAd" keyProperty="id"  useGeneratedKeys="true" parameterType="com.parasol.core.adPositionId.IndexImgCategory">
    insert into index_img_category (cat_parentid, gd_price, img_url, gd_name, gd_id) values (#{cat_parentid}, #{gd_price}, #{img_url}, #{gd_name}, #{gd_id})
  </insert>
  <delete id="deleteId" parameterType="com.parasol.core.adPositionId.IndexImgCategory">
    delete from index_img_category where id = #{id , jdbcType=INTEGER}
  </delete>
  <update id="updateByExample" parameterType="map">
    update index_img_category set
      <if test="record.id != null">
        id = #{record.id},
      </if>
      <if test="record.catParentid != null">
        cat_parentid = #{record.catParentid},
      </if>
      <if test="record.gdPrice != null">
        gd_price = #{record.gdPrice},
      </if>
      <if test="record.imgUrl != null">
        img_url = #{record.imgUrl},
      </if>
      <if test="record.gdName != null">
        gd_name = #{record.gdName},
      </if>
      <if test="record.gdId != null">
        gd_id = #{record.gdId}
      </if>
    where id = #{id}
  </update>
  <select id="list" resultMap="BaseResultMap">
    select * from index_img_category
    where 1 = 1
    <if test="id != null">
      and cat_parentid = #{id}
    </if>
    <if test="gdId != null">
      and gd_id=#{gdId}
    </if>
    order by id desc
  </select>
</mapper>