<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.parasol.core.dao.tender.TenderMapper" >
  <resultMap id="BaseResultMap" type="com.parasol.core.tender.Tender" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="tenderee" property="tenderee" jdbcType="VARCHAR" />
    <result column="tender_company" property="tenderCompany" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="agreement_price" property="agreementPrice" jdbcType="DECIMAL" />
    <result column="project_location" property="projectLocation" jdbcType="VARCHAR" />
    <result column="schedule" property="schedule" jdbcType="INTEGER" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_mobile" property="contactMobile" jdbcType="VARCHAR" />
    <result column="tender_address" property="tenderAddress" jdbcType="VARCHAR" />
    <result column="tender_money" property="tenderMoney" jdbcType="DOUBLE" />
    <result column="contract_status" property="contractStatus" jdbcType="INTEGER" />
    <result column="bill_status" property="billStatus" jdbcType="INTEGER" />
    <result column="price_status" property="priceStatus" jdbcType="INTEGER" />
    <result column="explainl" property="explainl" jdbcType="VARCHAR" />
    <result column="tender_file" property="tenderFile" jdbcType="VARCHAR" />
    <result column="bid_file" property="bidFile" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="project_type" property="projectType" jdbcType="VARCHAR" />
    <result column="classification" property="classification" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="BaseResultMapss" type="com.parasol.core.myclass.TenderList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
   	<result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="classification" property="classification" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      id, userId, tenderee, tender_company, project_name, agreement_price, project_location, 
      schedule, end_date, start_time, contact_name, contact_mobile, tender_address, tender_money, 
      contract_status, bill_status, price_status, explainl, tender_file, bid_file, status, 
      update_time, project_type, classification
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.parasol.core.tender.TenderQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tender
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    id,userId,tenderee,tender_company,project_name,agreement_price,project_location,schedule,end_date,start_time,contact_name,contact_mobile,tender_address,tender_money,contract_status,bill_status,price_status,explainl,tender_file,bid_file,status,update_time,project_type,classification
    from tender
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tender
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.parasol.core.tender.TenderQuery" >
    delete from tender
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.parasol.core.tender.Tender" >
    insert into tender (id, userId, tenderee, 
      tender_company, project_name, agreement_price, 
      project_location, schedule, end_date, 
      start_time, contact_name, contact_mobile, 
      tender_address, tender_money, contract_status, 
      bill_status, price_status, explainl, 
      tender_file, bid_file, status, 
      update_time, project_type, classification
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{tenderee,jdbcType=VARCHAR}, 
      #{tenderCompany,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{agreementPrice,jdbcType=DECIMAL}, 
      #{projectLocation,jdbcType=VARCHAR}, #{schedule,jdbcType=INTEGER}, #{endDate,jdbcType=TIMESTAMP}, 
      #{startTime,jdbcType=TIMESTAMP}, #{contactName,jdbcType=VARCHAR}, #{contactMobile,jdbcType=VARCHAR}, 
      #{tenderAddress,jdbcType=VARCHAR}, #{tenderMoney,jdbcType=DOUBLE}, #{contractStatus,jdbcType=INTEGER}, 
      #{billStatus,jdbcType=INTEGER}, #{priceStatus,jdbcType=INTEGER}, #{explainl,jdbcType=VARCHAR}, 
      #{tenderFile,jdbcType=VARCHAR}, #{bidFile,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{projectType,jdbcType=VARCHAR}, #{classification,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.parasol.core.tender.Tender" >
    insert into tender
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="tenderee != null" >
        tenderee,
      </if>
      <if test="tenderCompany != null" >
        tender_company,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="agreementPrice != null" >
        agreement_price,
      </if>
      <if test="projectLocation != null" >
        project_location,
      </if>
      <if test="schedule != null" >
        schedule,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="contactMobile != null" >
        contact_mobile,
      </if>
      <if test="tenderAddress != null" >
        tender_address,
      </if>
      <if test="tenderMoney != null" >
        tender_money,
      </if>
      <if test="contractStatus != null" >
        contract_status,
      </if>
      <if test="billStatus != null" >
        bill_status,
      </if>
      <if test="priceStatus != null" >
        price_status,
      </if>
      <if test="explainl != null" >
        explainl,
      </if>
      <if test="tenderFile != null" >
        tender_file,
      </if>
      <if test="bidFile != null" >
        bid_file,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="projectType != null" >
        project_type,
      </if>
      <if test="classification != null" >
        classification,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="tenderee != null" >
        #{tenderee,jdbcType=VARCHAR},
      </if>
      <if test="tenderCompany != null" >
        #{tenderCompany,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="agreementPrice != null" >
        #{agreementPrice,jdbcType=DECIMAL},
      </if>
      <if test="projectLocation != null" >
        #{projectLocation,jdbcType=VARCHAR},
      </if>
      <if test="schedule != null" >
        #{schedule,jdbcType=INTEGER},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="tenderAddress != null" >
        #{tenderAddress,jdbcType=VARCHAR},
      </if>
      <if test="tenderMoney != null" >
        #{tenderMoney,jdbcType=DOUBLE},
      </if>
      <if test="contractStatus != null" >
        #{contractStatus,jdbcType=INTEGER},
      </if>
      <if test="billStatus != null" >
        #{billStatus,jdbcType=INTEGER},
      </if>
      <if test="priceStatus != null" >
        #{priceStatus,jdbcType=INTEGER},
      </if>
      <if test="explainl != null" >
        #{explainl,jdbcType=VARCHAR},
      </if>
      <if test="tenderFile != null" >
        #{tenderFile,jdbcType=VARCHAR},
      </if>
      <if test="bidFile != null" >
        #{bidFile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectType != null" >
        #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="classification != null" >
        #{classification,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.parasol.core.tender.TenderQuery" resultType="java.lang.Integer" >
    select count(*) from tender
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tender
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.tenderee != null" >
        tenderee = #{record.tenderee,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderCompany != null" >
        tender_company = #{record.tenderCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.projectName != null" >
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.agreementPrice != null" >
        agreement_price = #{record.agreementPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.projectLocation != null" >
        project_location = #{record.projectLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.schedule != null" >
        schedule = #{record.schedule,jdbcType=INTEGER},
      </if>
      <if test="record.endDate != null" >
        end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contactName != null" >
        contact_name = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactMobile != null" >
        contact_mobile = #{record.contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderAddress != null" >
        tender_address = #{record.tenderAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderMoney != null" >
        tender_money = #{record.tenderMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.contractStatus != null" >
        contract_status = #{record.contractStatus,jdbcType=INTEGER},
      </if>
      <if test="record.billStatus != null" >
        bill_status = #{record.billStatus,jdbcType=INTEGER},
      </if>
      <if test="record.priceStatus != null" >
        price_status = #{record.priceStatus,jdbcType=INTEGER},
      </if>
      <if test="record.explainl != null" >
        explainl = #{record.explainl,jdbcType=VARCHAR},
      </if>
      <if test="record.tenderFile != null" >
        tender_file = #{record.tenderFile,jdbcType=VARCHAR},
      </if>
      <if test="record.bidFile != null" >
        bid_file = #{record.bidFile,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.projectType != null" >
        project_type = #{record.projectType,jdbcType=VARCHAR},
      </if>
      <if test="record.classification != null" >
        classification = #{record.classification,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tender
    set id = #{record.id,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      tenderee = #{record.tenderee,jdbcType=VARCHAR},
      tender_company = #{record.tenderCompany,jdbcType=VARCHAR},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      agreement_price = #{record.agreementPrice,jdbcType=DECIMAL},
      project_location = #{record.projectLocation,jdbcType=VARCHAR},
      schedule = #{record.schedule,jdbcType=INTEGER},
      end_date = #{record.endDate,jdbcType=TIMESTAMP},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      contact_name = #{record.contactName,jdbcType=VARCHAR},
      contact_mobile = #{record.contactMobile,jdbcType=VARCHAR},
      tender_address = #{record.tenderAddress,jdbcType=VARCHAR},
      tender_money = #{record.tenderMoney,jdbcType=DOUBLE},
      contract_status = #{record.contractStatus,jdbcType=INTEGER},
      bill_status = #{record.billStatus,jdbcType=INTEGER},
      price_status = #{record.priceStatus,jdbcType=INTEGER},
      explainl = #{record.explainl,jdbcType=VARCHAR},
      tender_file = #{record.tenderFile,jdbcType=VARCHAR},
      bid_file = #{record.bidFile,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      project_type = #{record.projectType,jdbcType=VARCHAR},
      classification = #{record.classification,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.parasol.core.tender.Tender" >
    update tender
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="tenderee != null" >
        tenderee = #{tenderee,jdbcType=VARCHAR},
      </if>
      <if test="tenderCompany != null" >
        tender_company = #{tenderCompany,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="agreementPrice != null" >
        agreement_price = #{agreementPrice,jdbcType=DECIMAL},
      </if>
      <if test="projectLocation != null" >
        project_location = #{projectLocation,jdbcType=VARCHAR},
      </if>
      <if test="schedule != null" >
        schedule = #{schedule,jdbcType=INTEGER},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="tenderAddress != null" >
        tender_address = #{tenderAddress,jdbcType=VARCHAR},
      </if>
      <if test="tenderMoney != null" >
        tender_money = #{tenderMoney,jdbcType=DOUBLE},
      </if>
      <if test="contractStatus != null" >
        contract_status = #{contractStatus,jdbcType=INTEGER},
      </if>
      <if test="billStatus != null" >
        bill_status = #{billStatus,jdbcType=INTEGER},
      </if>
      <if test="priceStatus != null" >
        price_status = #{priceStatus,jdbcType=INTEGER},
      </if>
      <if test="explainl != null" >
        explainl = #{explainl,jdbcType=VARCHAR},
      </if>
      <if test="tenderFile != null" >
        tender_file = #{tenderFile,jdbcType=VARCHAR},
      </if>
      <if test="bidFile != null" >
        bid_file = #{bidFile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectType != null" >
        project_type = #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="classification != null" >
        classification = #{classification,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.parasol.core.tender.Tender" >
    update tender
    set userId = #{userid,jdbcType=INTEGER},
      tenderee = #{tenderee,jdbcType=VARCHAR},
      tender_company = #{tenderCompany,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      agreement_price = #{agreementPrice,jdbcType=DECIMAL},
      project_location = #{projectLocation,jdbcType=VARCHAR},
      schedule = #{schedule,jdbcType=INTEGER},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      tender_address = #{tenderAddress,jdbcType=VARCHAR},
      tender_money = #{tenderMoney,jdbcType=DOUBLE},
      contract_status = #{contractStatus,jdbcType=INTEGER},
      bill_status = #{billStatus,jdbcType=INTEGER},
      price_status = #{priceStatus,jdbcType=INTEGER},
      explainl = #{explainl,jdbcType=VARCHAR},
      tender_file = #{tenderFile,jdbcType=VARCHAR},
      bid_file = #{bidFile,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      project_type = #{projectType,jdbcType=VARCHAR},
      classification = #{classification,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryName" resultMap="BaseResultMap" parameterType="string" >
     select 
    id,userId,tenderee,tender_company,project_name,agreement_price,project_location,schedule,end_date,start_time,contact_name,contact_mobile,tender_address,tender_money,contract_status,bill_status,price_status,explainl,tender_file,bid_file,status,update_time,project_type,classification  
     from tender
     where project_name = #{projectName}
  </select>
   <select id="selectListUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     select 
    id,userId,tenderee,tender_company,project_name,agreement_price,project_location,schedule,end_date,start_time,contact_name,contact_mobile,tender_address,tender_money,contract_status,bill_status,price_status,explainl,tender_file,bid_file,status,update_time,project_type,classification  
     from tender
     where userId = #{userId}
  </select>
  <select id="selectTender" resultMap="BaseResultMap" >
     select 
    id,userId,tenderee,tender_company,project_name,agreement_price,project_location,schedule,end_date,start_time,contact_name,contact_mobile,tender_address,tender_money,contract_status,bill_status,price_status,explainl,tender_file,bid_file,status,update_time,project_type,classification   
     from tender
     order by
	  id desc
  </select>
  <select id="selectTenderTen" resultMap="BaseResultMap" >
     select 
    id,userId,tenderee,tender_company,project_name,agreement_price,project_location,schedule,end_date,start_time,contact_name,contact_mobile,tender_address,tender_money,contract_status,bill_status,price_status,explainl,tender_file,bid_file,status,update_time,project_type,classification   
     from tender
	  order by
	  id desc
	 limit 13
  </select>
   <select id="selectClassification" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     select 
    id,userId,project_name,start_time,classification   
     from tender
     where classification = #{classification}
     order by
     id desc
  </select>
   <select id="selectProject" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     select 
	id,userId,project_name,start_time,classification   
	  from tender
     where classification &lt;= 5
     order by id desc
  </select>
    <select id="selectPurchase" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     select 
    id,userId,tenderee,tender_company,project_name,agreement_price,project_location,schedule,end_date,start_time,contact_name,contact_mobile,tender_address,tender_money,contract_status,bill_status,price_status,explainl,tender_file,bid_file,status,update_time,project_type,classification   
     from tender
     where classification &gt; 5 and classification &lt;= 12
     order by id desc
  </select>
    <select id="selectDesign" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     select 
    id,userId,tenderee,tender_company,project_name,agreement_price,project_location,schedule,end_date,start_time,contact_name,contact_mobile,tender_address,tender_money,contract_status,bill_status,price_status,explainl,tender_file,bid_file,status,update_time,project_type,classification   
     from tender
     where classification &gt; 12 and classification &lt;= 17
     order by id desc
  </select>
    <select id="selectManage" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     select 
    id,userId,tenderee,tender_company,project_name,agreement_price,project_location,schedule,end_date,start_time,contact_name,contact_mobile,tender_address,tender_money,contract_status,bill_status,price_status,explainl,tender_file,bid_file,status,update_time,project_type,classification   
     from tender
     where classification &gt; 17 and classification &lt;= 20
     order by id desc
  </select>
  <select id="selectConsultation" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     select 
    id,userId,tenderee,tender_company,project_name,agreement_price,project_location,schedule,end_date,start_time,contact_name,contact_mobile,tender_address,tender_money,contract_status,bill_status,price_status,explainl,tender_file,bid_file,status,update_time,project_type,classification   
     from tender
     where classification = 21
     order by id desc
  </select>
  
  
    <select id="selectByExamplel" resultMap="BaseResultMap" parameterType="com.parasol.core.tender.TenderQuery" >
    select
 <!--   <if test="distinct" >
      distinct
    </if>
     <include refid="Base_Column_List" /> -->
    project_name,start_time,classification
    from tender
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  
    <sql id="Base_Column_Listss" >
    <if test="fields == null" >
      id, project_name, classification , DATE_FORMAT(start_time,'%Y-%c-%d')
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  
  
  
  
  
  
 <!--   DATE_FORMAT(start_time,'%Y-%c-%d') aaa-->
  
    <select id="selectByExampless" resultMap="BaseResultMap" parameterType="com.parasol.core.tender.TenderQuery" >
    select
		start_time , project_name
    from tender
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  
  
  
<!--    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if> -->
    <!-- 需要五个，后续添加classification范围 -->
      <select id="selectByExampleProgramme" resultMap="BaseResultMap" parameterType="com.parasol.core.tender.TenderQuery" >
    select
		id , start_time , project_name , classification
    from tender
  	where classification &lt;= 5
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
        <select id="selectByExamplePurchase" resultMap="BaseResultMap" parameterType="com.parasol.core.tender.TenderQuery" >
    select
		id , start_time , project_name , classification
    from tender
  	where classification &gt; 5 and classification &lt;= 12
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
        <select id="selectByExampleDesign" resultMap="BaseResultMap" parameterType="com.parasol.core.tender.TenderQuery" >
    select
		id , start_time , project_name , classification
    from tender
  	where classification &gt; 12 and classification &lt;= 17
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
        <select id="selectByExampleProperty" resultMap="BaseResultMap" parameterType="com.parasol.core.tender.TenderQuery" >
    select
		id , start_time , project_name , classification
    from tender
  	where classification &gt; 17 and classification &lt;= 20
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}       
    </if>
  </select>
          <select id="selectByExampleCost" resultMap="BaseResultMap" parameterType="com.parasol.core.tender.TenderQuery" >
    select
		id , start_time , project_name , classification
    from tender
  	where classification = 21
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="countByExampleProgramme" parameterType="com.parasol.core.tender.TenderQuery" resultType="java.lang.Integer" >
    select count(*) from tender
    where classification &lt;= 5
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
   <select id="countByExamplePurchase" parameterType="com.parasol.core.tender.TenderQuery" resultType="java.lang.Integer" >
    select count(*) from tender
    where classification &gt; 5 and classification &lt;= 12
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
   <select id="countByExampleDesign" parameterType="com.parasol.core.tender.TenderQuery" resultType="java.lang.Integer" >
    select count(*) from tender
    where classification &gt; 12 and classification &lt;= 17
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
   <select id="countByExampleProperty" parameterType="com.parasol.core.tender.TenderQuery" resultType="java.lang.Integer" >
    select count(*) from tender
    where classification &gt; 17 and classification &lt;= 20
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
   <select id="countByExampleCost" parameterType="com.parasol.core.tender.TenderQuery" resultType="java.lang.Integer" >
    select count(*) from tender
    where classification = 21
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="countByExampleMy" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
    select count(*) from tender  where
    <if test="userId != null" >
       userId = #{userId}
    </if>  
  </select>
  <select id="selectListTender" resultMap="BaseResultMapss" parameterType="com.parasol.core.myclass.TenderNameQuery" >
     select 
    	*  
     from tender  
      where 1=1 
     <if test="classification != null">
       and classification = #{classification,jdbcType=INTEGER}
     </if>
     <if test="userId != null">
       and userId = #{userId}
     </if>
     order by start_time
     desc
     limit #{startRow} , #{pageSize}
  </select>
  <select id="countTenderList" resultType="java.lang.Integer" >
    select count(*) from tender  where 1=1 
    <if test="classification != null">
      and classification = #{classification,jdbcType=INTEGER}
    </if>
    <if test="userId != null" >
      and userId = #{userId}
    </if> 
  </select>
</mapper>